___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [1]:
import pandas as pd
ri= pd.read_csv('police.csv.zip').sample(50000, random_state=101)
ri.head()

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
154167,RI-2008-28543,RI,2008-08-02,02:37,Zone X3,NaN,NaN,NaN,200,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X3
182662,RI-2009-08019,RI,2009-02-28,11:02,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
333465,RI-2012-27184,RI,2012-05-17,13:45,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
240119,RI-2010-22023,RI,2010-06-22,00:43,Zone X3,NaN,NaN,NaN,200,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X3
158285,RI-2008-32661,RI,2008-08-30,18:09,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [2]:
ri.shape

(50000, 26)

In [3]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    2
stop_time                    2
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            2
driver_gender             2820
driver_age_raw            2815
driver_age                2979
driver_race_raw           2817
driver_race               2817
violation_raw             2817
violation                 2817
search_conducted             2
search_type_raw          48222
search_type              48222
contraband_found             0
stop_outcome              2817
is_arrested               2817
stop_duration             2817
out_of_state              2895
drugs_related_stop           0
district                     0
dtype: int64

In [4]:
ri.isnull().sum()/ri.shape[0]*100
# ri.shape[0]*100 or len(ri)

id                         0.000
state                      0.000
stop_date                  0.004
stop_time                  0.004
location_raw               0.000
county_name              100.000
county_fips              100.000
fine_grained_location    100.000
police_department          0.004
driver_gender              5.640
driver_age_raw             5.630
driver_age                 5.958
driver_race_raw            5.634
driver_race                5.634
violation_raw              5.634
violation                  5.634
search_conducted           0.004
search_type_raw           96.444
search_type               96.444
contraband_found           0.000
stop_outcome               5.634
is_arrested                5.634
stop_duration              5.634
out_of_state               5.790
drugs_related_stop         0.000
district                   0.000
dtype: float64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [5]:
ri.shape
# it is a attribute, it is not a method according to object

(50000, 26)

In [6]:
drop_columns = ["state", "county_name", "county_fips", "fine_grained_location"]
# düşülecek sütunlar tek listede toplanır. %100 is null olanlar ve hepsi aynı değerde olalar düşülür
ri.drop(drop_columns, axis =1, inplace = True)

In [7]:
ri.shape

(50000, 22)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [8]:
# Count the number of missing values in each column.
ri.isnull().sum()

id                        0
stop_date                 2
stop_time                 2
location_raw              0
police_department         2
driver_gender          2820
driver_age_raw         2815
driver_age             2979
driver_race_raw        2817
driver_race            2817
violation_raw          2817
violation              2817
search_conducted          2
search_type_raw       48222
search_type           48222
contraband_found          0
stop_outcome           2817
is_arrested            2817
stop_duration          2817
out_of_state           2895
drugs_related_stop        0
district                  0
dtype: int64

In [9]:

ri["driver_gender"].isnull().sum()/len(ri)*100
# cinsiyet satırında %5,64 missing value varmış
# veriyi machine learningde %85 üzeri accuracy almak istiyorsak missing value olan satırlar belli algoritmalarla doldurulur.
# yalnızca çeşitli görsellerle analiz yapılıp birşey ortaya konup raporlama yapılarak patronların karar vermesi sağlanacaksa bu satırlar düşürülebilir.
# Normalde 50bin satırda %5,64 missing value büyük bir orandır.

5.64

In [10]:
# Drop all rows that are missing driver_gender by passing the column name to the subset parameter of .dropna().
ri.dropna(subset=["driver_gender"],inplace=True)

In [11]:
ri.isnull().sum()/len(ri)*100

id                     0.000000
stop_date              0.000000
stop_time              0.000000
location_raw           0.000000
police_department      0.000000
driver_gender          0.000000
driver_age_raw         0.000000
driver_age             0.343366
driver_race_raw        0.000000
driver_race            0.000000
violation_raw          0.000000
violation              0.000000
search_conducted       0.000000
search_type_raw       96.231454
search_type           96.231454
contraband_found       0.000000
stop_outcome           0.000000
is_arrested            0.000000
stop_duration          0.000000
out_of_state           0.165324
drugs_related_stop     0.000000
district               0.000000
dtype: float64

In [12]:
# Examine the DataFrame's .shape to see how many rows and columns remain.
ri.shape

(47180, 22)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [13]:
# Examine the head of the is_arrested column to verify that it contains True and False values.
ri.is_arrested.head()

182662    False
333465    False
158285    False
188972    False
350777    False
Name: is_arrested, dtype: object

In [14]:
ri.dtypes
# string içeren satırların types Object görünür.

id                     object
stop_date              object
stop_time              object
location_raw           object
police_department      object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race_raw        object
driver_race            object
violation_raw          object
violation              object
search_conducted       object
search_type_raw        object
search_type            object
contraband_found         bool
stop_outcome           object
is_arrested            object
stop_duration          object
out_of_state           object
drugs_related_stop       bool
district               object
dtype: object

In [15]:
ri.is_arrested.value_counts(dropna = False)

False    45539
True      1641
Name: is_arrested, dtype: int64

In [16]:
# Check the current data type of is_arrested.
ri.is_arrested.dtype

dtype('O')

In [17]:
print(ri.is_arrested.dtype)
# print ile yazılırsa daha güzel çıktı verir

object

In [18]:
# Use the .astype() method to convert is_arrested to a bool column.
ri.is_arrested= ri.is_arrested.astype("bool")
# astype kullanarak str olan numerik değerleri float a veya int e çeviririz.
# to_numeric() fonksiyonuda str olan numerik değerleri float a veya int e çevirir.

In [19]:
# Check the new data type of is_arrested, to confirm that it is now a bool column.
print(ri.is_arrested.dtype)

bool

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [20]:
# Use a string method to concatenate stop_date and stop_time (separated by a space), and store the result in combined.
combined= ri.stop_date + " " + ri.stop_time

In [21]:
# alternate
# combined = ri.stop_date.str.cat(ri.stop_time, sep = " ")
# str.cat() ile 2 veriyi concatenate yaparız.

In [22]:
# Convert combined to datetime format, and store the result in a new column named stop_datetime.
combined=pd.to_datetime(combined)
ri["stop_datetime"]=combined

In [23]:
print(ri.stop_datetime.dtype)

datetime64[ns]

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [24]:
# Set stop_datetime as the DataFrame index.
ri.set_index("stop_datetime",inplace=True)

In [25]:
ri.drop(["stop_date","stop_time"],axis=1,inplace=True)

In [26]:
ri.index.names

FrozenList(['stop_datetime'])

In [27]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2009-02-28 11:02:00,RI-2009-08019,Zone K2,900,M,1952.0,57.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
2012-05-17 13:45:00,RI-2012-27184,Zone K2,900,F,1991.0,21.0,W,White,Registration Violation,Registration/plates,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2008-08-30 18:09:00,RI-2008-32661,Zone K3,300,M,1967.0,41.0,L,Hispanic,Other Traffic Violation,Moving violation,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2009-04-13 22:36:00,RI-2009-14329,Zone K1,600,M,1987.0,22.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K1
2012-08-24 22:19:00,RI-2012-44496,Zone X4,500,F,1990.0,22.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [28]:
# Examine the index to verify that it is a DatetimeIndex.
type(ri.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [29]:
# Examine the DataFrame columns to confirm that stop_datetime is no longer one of the columns.
{"stop_datetime"}.issubset(ri)

False